# fly.toml app configuration file generated for virology-dashboard on 2026-02-14T22:32:11+03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'virology-dashboard'
primary_region = 'iad'

[build]
  [build.args]
    VITE_GOOGLE_CLIENT_ID = "209438723223-67lhgs4q9ljqffevusrhsp724nb2s1kc.apps.googleusercontent.com"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
